@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-box {
  @apply dark:bg-spGreen/20 dark:backdrop-blur-2xl;
}

.custom-button {
  @apply p-1 rounded-lg transition cursor-pointer;
}

.green-button {
  @apply bg-spGreen/90 hover:bg-spGreen text-white;
}

.sample-card-box {
  @apply shadow-spBox-lg w-full flex flex-col gap-4 items-center rounded-xl p-4 text-spGreen border border-spGreen/30;
}

.card-box {
  @apply bg-spCream/30 hover:bg-spCream rounded-2xl relative w-full p-4 flex flex-col gap-4 shadow-spBox hover:shadow-spBox-lg border border-spGreen/30;
  transition: 0.3s ease-in-out;
}

.card-box .card-box-image {
  transition: 0.3s ease-in-out;
}
.card-box:hover .card-box-image {
  scale: 1.1;
}

body.dark {
  background-color: #0d0d0b !important;
  color: #eee;
  background: radial-gradient(
    87.68% 101.73% at 51.86% -0.36%,
    rgba(0, 107, 63, 0.38) 0%,
    rgba(13, 30, 51, 0) 100%
  );
}

a {
  color: inherit !important;
}
a:hover,
a:focus {
  color: inherit;
  text-decoration: none !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body.dark .rs-table-row-header,
body.dark .rs-table-cell,
body.dark .day.disabled {
  /* background-color: var(--spDarkBlue) !important; */
  color: #fff !important;
  background-color: rgb(0 107 63 / 0.2) !important;
  -webkit-backdrop-filter: blur(40px) !important;
}
body.dark .day.currentDay{
  background-color: #ffbd7698 !important;
  -webkit-backdrop-filter: blur(40px) !important;
}



:root {
  --spGreen: #006b3f;
  --spCream: #ffbd76;
  --spGray: #c5c5c4;
  --spDarkBlue: #1c232b;
  --rs-table-border-color: #c5c5c4 !important;
  --rs-state-hover-bg: #006b3e0f !important;
}
